<h1 class='centered'>Ski Days 2018/2019</h1>

<div id='season_totals' class='centered'>
  <div>Total Days: <%= number_of_ski_days %></div>
  <div>Total Touring Days: <%= number_of_touring_days %></div>
  <div>Total Touring Vertical: <%= number_with_delimiter(total_vertical, delimiter: ',') %></div>
  <div>Daily Average: <%= average_touring_vertical %></div>
</div>

<div id='charts_wrapper'>
  <%= render 'touring_graph' %>
  <%= render 'days_graph' %>
  <%= render 'averages_graph' %>
</div>

<div class='centered'>
  <h4>Days by Ski</h4>
  <%- days_by_ski.each do |ary| %>
    <div><%= "#{ary.first}: #{ary.last}" %></div>
  <% end %>
</div>

<p/>

<table class='centered_table'>
  <tr>
    <th>Date:</th>
    <th>Location:</th>
    <th>Vertical:</th>
    <th>Skis:</th>
  </tr>

  <% @ski_days.sort_by(&:date).each do |ski_day| %>
    <tr>
      <td><%= ski_day.date.to_s %></td>
      <td><%= formatted_location(ski_day) %></td>
      <td id='vertical_<%= ski_day.id %>'><%= ski_day.vertical %></td>
      <td id='skis'><%= ski_day.skis %></td>
      <td class='link'><%= link_to 'Edit', edit_ski_day_path(ski_day) %></td>
      <td class='link'><%= link_to 'Delete', ski_day_path(ski_day), method: :delete, data: { confirm: 'are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p/>

<div class='centered link'>
  <%= link_to 'New', new_ski_day_path %>
</div>
