<h1 class='centered'>Ski Days 2015/2016</h1>

<div id='season_totals' class='centered'>
  <div>Total Days: <%= number_of_ski_days %></div>
  <div>Total Touring Days: <%= number_of_touring_days %></div>
  <div>Total Touring Vertical: <%= total_vertical %></div>
</div>

<div id='charts_wrapper'>
<%= render 'touring_graph' %>
<%= render 'days_graph' %>
</div>

<table class='centered_table'>
  <tr>
    <th>Date:</th>
    <th>Location:</th>
    <th>Vertical:</th>
  </tr>

  <% @ski_days.sort_by(&:date).each do |ski_day| %>
    <tr>
      <td><%= ski_day.date.to_s %></td>
      <td><%= formatted_location(ski_day) %></td>
      <td id='vertical_<%= ski_day.id %>'><%= ski_day.vertical %></td>
      <td class='link'><%= link_to 'Edit', edit_ski_day_path(ski_day) %></td>
      <td class='link'><%= link_to 'Delete', ski_day_path(ski_day), method: :delete, data: { confirm: 'are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p/>

<div class='centered link'>
  <%= link_to 'New', new_ski_day_path %>
</div>

